ul li a{
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-decoration: none;
}

ul li{
    padding: .8rem 0;
}

a.navbar-brand{
    color: black;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.navbar-color{
    color: white;
    background-color: transparent;
}

.navbar-color-scroll{
    background-color: white;
}

.navbar-text-color{
    color: white;
}
.navbar-text-color-scroll{
    color: black;
}

ul li a.active{
    text-decoration:line-through;

}

